line {
    stroke: green;
    stroke-width: 3;
}

line:hover {
    stroke-opacity: 0.5;
}

.pos line{
    marker-end:url(#marker);
    stroke:green;
}
.neg line {
    marker-end:url(#neg-marker);
    stroke:red;
}
.node text {
    fill: black;
}
.node circle {
    stroke: grey;
}