circle {
    fill:green;
    fill-opacity: 0.8;
}

circle:hover {
    fill-opacity: 0.5;
}

line {
    stroke: green;
    stroke-width: 2;
}

line:hover {
    stroke-opacity: 0.5;
}

#marker {
    fill:green;
    stroke:green;
}
#neg-marker {
    fill:red;
    stroke:red;
}
.pos circle{
    fill:green;
}
.neg circle{
    fill:red;
}
.pos line{
    marker-end:url(#marker);
    stroke:green;
}
.neg line {
    marker-end:url(#neg-marker);
    stroke:red;
}
svg.waiting {
    cursor: crosshair;
}
svg.connecting {
    cursor: hand;
}
svg.connected {
    cursor: default;
}