html { 
    -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
}

svg {
    width: 100%;
    height: 500px;
}

.link polyline {
    stroke: green;
    stroke-width: 3;
}
polyline.connect {
    stroke-width: 3;
}

line:hover {
    stroke-opacity: 0.5;
}

.pos line{
    stroke:green;
}
.neg line {
    stroke:red;
}
.node text {
    fill: black;
}
.node circle {
    stroke: grey;
}